.head1{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color  : black;
    margin-bottom : 25px;
    border: 2px solid rgb(255, 191, 52);
    border-radius: 10px;
    background-color: rgb(255, 191, 52);
}

.fullPage3{
    background-image: url("signinBg.png");
    height : 100vh;
    width : 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.outerBox3{
    height : 60vh;
    width : 30vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border : 5px solid rgb(252, 227, 195);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}


.boxE1{
    height : 300px;
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content :center;
    align-items :center;
    padding : 20px 0px 0px 0px;
}
/* .boxE2{
    border-left: .2px solid black;
    height : 350px;
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content :flex-start;
    align-items :flex-start;
    margin : 20px 0px 0px 0px;
    padding : 0px 0px 0px 20px;
} */

.addBtn2{
    height : 25px;
    width : 120px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 234, 0);
    display: flex;
    justify-content: center;
    border : 2px solid black;
    border-radius: 5px;
    margin : 10px;
}
.box{
    height : 27px;
    width : 350px;
    border: 2px solid black;
    border-radius:5px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.heading6{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin : 8px;
    color: rgb(0, 0, 0);
    /* position: absolute;
    top : 130px;
    left : 20px; */
}

@media screen and (max-width: 480px) {
    .outerBox3{
        display: block;
        width: 80%;
        height: 250px;
        position: relative;
        bottom : 200px;
    }
        .boxE1{
            display: block;
            width: 100px;
            margin-left: 110px;
            height: 240px;
             
        }
        .formbox{
            width: 100px;
        }
        .addBtn2
        {
            margin-left: 0px;
        }
        .heading6{
            display : none;
        }
}