
*{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.heading{
  background-color: rgb(255, 255, 255);
  color :rgb(0, 0, 0);
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading11{
  background-color: rgb(0, 0, 0);
  color :rgb(255, 204, 1);
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left:5px;
  padding : 0px 5px;
}

.heading12{
  background-color: rgb(255, 255, 255);
  color :rgb(255, 204, 1);
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  height : 60px;
  border-bottom : 10px solid rgb(0, 0, 0);
  padding : 0px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color :black;
}

.heading2{
  font-family :'Courier New', Courier, monospace;
  margin-top: 20px;
  display :flex;
  justify-content: center;
 
}

.button{
color: black;
background-color: rgb(255, 204, 1);
height : 6vh;
width : 12vw;
font-size: 20px;
font-weight: 400;
border: 2px solid black;
border-radius: 5px;
margin : 20px 0px 10px 10px;
}

.buttonHead{
  display: flex;
  justify-content: center;
}

.button1{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height : 4vh;
  width : 8vw;
  font-size: 15px;
  font-weight: 400;
  border: 2px solid rgb(42, 39, 39);
  border-radius: 5px;
  margin : 10px 0px 10px 10px;
  }

.image1{
  height :40vh;
  width : 40vw;
}

.imageBox{
  height: 40vh;
  width : 35vw;
  display : flex;
  justify-content: center;
  align-items: center;
}
.content{
  font-weight: 200;
  font-size: 15px;
  height: 78vh;
  width : 100vw;
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
/* change */
.para{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width : 64vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin : 5px;

}

.image2{
  height : 50px;
  width : 50px;
  display: flex;
  justify-content: center;
}

.head3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding: 30px 10px;
  background-image : url("signinBg.png");
  color :rgb(0, 0, 0);
}

.three{
  height : 250px;
  padding : 50px;
  display : flex;
  flex-direction: row;
  background-image : url("signinBg.png");
}

.threeOne{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 30px 50px;
  display : flex;
  flex-direction: column;
  background-image : url("signinBg.png");
}

.threeBox{
  height: 100vh;
  width : 100%;
  background-image : url("signinBg.png");
}

.button2{
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 183, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  margin :10px 0px;
}

.four{
  margin-top : 50px;
  padding-top : 50px;
}
.fourOne{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 10px 30px;
  display : flex;
  flex-direction: row;
  height : 300px;
}
.fourTwo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 10px 10px;
  display : flex;
  flex-direction: column;
}
.image3{
  height : 460px;
  width : 480px;
  position: relative;
  right: 20px;
  bottom : 100px;
}
.button3{
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 30px;
  
  color: rgb(0, 0, 0);
  background-color: rgb(255, 183, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  margin :20px 0px ;
}

.head4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 40px;
  background-color: rgb(255, 255, 255);
  color :rgb(0, 0, 0);
  margin-bottom : 20px;
}

/* /change/ */
.newBox{
  height : 20vh;
  width : 100%;
  background-color: rgb(51, 159, 253);
}


@media screen and (max-width: 480px){
  *{
    margin: 0%;
      padding: 0%;
      box-sizing: border-box;
  }
  
  .heading2{
    display: block;
    margin-top: 80px;
    /* padding-top: 100px; */
    text-align: center;
  }

  .button{
    height : 50px;
    width : 130px;
   }

   .content{
    display :block;
    height: 500px;
    display : flex;
    justify-content : center;
    align-items: center; 
  }
  .image1{
    height :200px;
    width : auto;
    margin-bottom: 10px;
  }
  
  .imageBox{
    height:auto;
    width: auto;
    display : flex;
    justify-content: center;
    align-items: center;
  }

  .para{
    margin-top :30px;
    margin-left: 20px;
    
  }

  .three{
     display: block;
     justify-content: center;
     align-items: center;
     }
     .threeOne{
      display : none;
      /* flex-direction: column;
      justify-content: center;
      text-align: center;
       margin-top: 50px; */
    }
    .fourOne{
      display : none;
    }
    .head3{
      text-align: center;}
      .button2{
        margin-top: 50px;
        width: 120px;
        margin-left:50px;
      }
      .threeBox{
        height: 530px;
      }

      .four{
        display: block;
        padding: 0px;
      }
      .fourOne{
        display: block;
        margin-top: 10px;
      }
      .fourtwo{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 10px;

      }
      .image3{
        /* height: auto;
        width: 220px; */
        display: none;
        /* justify-content: center;
        align-items: center;
        position : absolute;
        top : 1110px; */
      }
      .button3{
        margin-top: 30px;
        
      }

      .list0{
        height : 120px;
        width : 100px;
      }
}