*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.active{
    color : rgb(3, 0, 51);
    font-weight: 800;
}

body{
    background-color:rgb(255, 255, 255);
}
.heading1{
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    height : 50px;
    width: 300px;
    margin : 10px;
    background-color: rgb(255, 189, 45);
}
.navBox{
    display: flex;
    align-items: center;
    height : 60px;
    width : 100vw;
    background-color: rgb(255, 189, 45);
}

ul{
    display: flex;
    flex-direction :row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    margin : 0px 20px 0px 800px;
    background-color: rgb(255, 189, 45);
}

ul li{
    
    text-decoration: none;
    margin : 10px 10px;
    color:brown;
    padding : 3px 8px;
    background-color: rgb(255, 189, 45);
}



