
.headS{
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 500px;
    display : flex;
    justify-content: center;
    align-items :center;
    flex-direction: column;
}

.fullPage{
    height : 100vh;
    width : 100%;
    background-image : url("signinBg.png");
    display : flex;
    justify-content: center;
    align-items :center;
    flex-direction: column;
}
.bigBox{
    height:350px;
    width : 700px;
    display: flex;
    flex-direction: row;;
    border : 10px solid  antiquewhite;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}
.heading{
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin : 8px;
    color: rgb(0, 0, 0);
}

.box{
    background-color: rgb(255, 255, 255);
    height : 23px;
    width : 150px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:2px;
    margin: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.img1{
    height : 350px;
    width:300px;
    background-image : url("https://img.freepik.com/free-vector/sign-page-abstract-concept-illustration_335657-2242.jpg?w=2000");
    background-repeat: no-repeat;
    position : relative;
    top : 0px;
    left : -15px;  
}

.formBox{
    display : flex;
    justify-content: center;
    align-items :center;
    flex-direction: column;
}
.submitButton{
    cursor: pointer;
    height : 27px;
    width : 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:5px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    color:antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    
    
}
.submitButton2{
    height : 27px;
    width : 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:5px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    color:antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    
}

.redirectToLogin{
    margin-top : 30px; 
    color:rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
}

.navRedirectToLogin{
    height : 27px;
    width : 120px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:5px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    color:antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
}



@media screen and (max-width: 480px) {
    .bigBox{
        margin-top: 300px;
         display: block;
         width: fit-content;
    }
    .headS{
        display: block;
        width: 400px;
        height: fit-content;
        
    }
    .img1{
         /* display: none; */
         height: 200px;
         width:380px;
         position: absolute;
         top: 240px;
         left: 15px;

    }

    .submitButton{
        margin-top: 70px;
        height: 40px;
        width: 110px;
    }
     
}
